<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278742269291-uj6taor8nfssd4bih1f3ah7odkj0pm8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278742269291-uj6taor8nfssd4bih1f3ah7odkj0pm8e</string>
	<key>API_KEY</key>
	<string>AIzaSyDkB8sQp9tAF9oGvEX3nAG0hBbrEE6Tp-U</string>
	<key>GCM_SENDER_ID</key>
	<string>278742269291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lieutenantK.SetreetPlace</string>
	<key>PROJECT_ID</key>
	<string>setreetplace-2d3ce</string>
	<key>STORAGE_BUCKET</key>
	<string>setreetplace-2d3ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278742269291:ios:a9ed8b87a791149eec602e</string>
</dict>
</plist>